html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

main {
    height: 100%;
    section.content {
        height: 100%;
        .carousel {
            margin: 2vh auto;
            border-radius: .5rem;
            width: 90%;
            height: 90%;
            max-width: 35rem;
            max-height: 35rem;
            div.waktu-solat {
                p {
                    width: 75%;
                    margin: 1rem auto;
                    padding: 0;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: white;
                    font-weight: bold;
                }
                button {
                    width: 90%;
                    max-width: 25rem;
                    display: block;
                    border-radius: .5rem;
                    background-color: #fff;
                    box-shadow: none;
                    height: 3rem;
                    margin: 1rem auto;
                    font-size: 1.3rem;
                    color: gray;
                }
            }
        }
    }
    @media only screen and (max-width: 320px) {
        section.content {
            .carousel {
                div.waktu-solat {
                    p {
                        font-size: .8rem;
                        line-height: .9rem;
                    }
                    button {
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                        height: 2.5rem;
                    }
                }
            }
        }
    } // end media query
}
#version {
    position: fixed;
    bottom: 0px;
    left: 1px;
}
